.alert {border: 0;border-radius: 1px;font-size: 14px;}
.alert font { display: block; padding: 15px; color: #61a942;background-color: #dff2de;border-color: #ebccd1; }
.alert font.errortext { color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
